# Udiskie to mount devices automatically
udiskie -s &
# Network Manager applet
nm-applet &
# Make some keys work
xbindkeys &
# Hide the cursor
unclutter --timeout 5 &
# xss-lock configuration
## Dim screen after 5 mins and lock 5 seconds after that
xset s 300 5 &
## Trigger xss-lock with systemd events using xsecurelock
xss-lock -n /usr/lib/xsecurelock/dimmer -l -- xsecurelock &
